<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Travel App</title>

</head>

<body>

  <header>
    <h1>Travel App</h1>
  </header>

  <main>

    <h2>Get information about your next trip</h2>

    <section class="form">
      <label for="city">Enter City Name</label>
      <input type="text" id="city" placeholder="City name">

      <label for="start-date">Enter Start Date</label>
      <input type="date" id="start-date" placeholder="Start Date">

      <label for="end-date">Enter End Date</label>
      <input type="date" id="end-date" placeholder="End Date">

      <button id="generate" type = "submit"> Generate </button>
    </section>

    <section>
      <strong>Trip Results:</strong>
      <br>
      <br>
      <div id="results">
        <div id = "date"></div>
        <br>
        <div id = "country"></div>
        <br>
        <div id = "weather-summary"></div>
        <br>
        <div id = "image"></div>
     </div>
    </section>
  </main>

  <footer>
    <p><b>By Michael Fawzy</b></p>
  </footer>
</body>
</html>